<!-- <app-users [uname]="username" > -->
    <!-- (notify)="parentmethod($event)" -->
    <!-- <p>{{childata}}</p> -->
<!-- </app-users> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-child (notify)="handler($event)"></app-child>
<hr>
<p>{{data}}</p> -->
    <!-- <app-users></app-users> -->
<!-- <app-child [fname]="name"></app-child>
<hr>
<hr>
<hr>
<hr>
<app-binding></app-binding>  -->
<!-- 
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Routing</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="users">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="child">Child</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="binding">Binding</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>  -->
<!-- 
  <form  #login="ngForm" (ngSubmit)="userlogin(login.value)">
    <div class="text">

        <input type="text" required #name="ngModel" placeholder="Enter the name" name="name" ngModel>
        <br><span *ngIf="name.invalid && name.touched" style="color: red;">This is invalid input</span><br>


        <input type="password" required minlength="2" #password="ngModel" placeholder="Enter the password" name="password" ngModel>
        <br><span *ngIf="password.invalid && password.touched" style="color: red;">This is invalid input</span><br>
        
        <button [disabled]="login.invalid">Signup</button>
    </div>
  </form> -->
  <!-- <form #loginform="ngForm" (ngSubmit)="loginuser(loginform.value)">
    <input type="text" name="name" id="" required #name="ngModel" placeholder="Enter the name" ngModel>
    <br><span style="color: red;" *ngIf="name.invalid && name.touched">Please enter the name</span> <br>

    <input type="password" name="password" id="" minlength="2" required #password="ngModel" placeholder="Enter the password" ngModel>
    <br><span style="color: red;" *ngIf="password.invalid && password.touched">Please enter the password</span> <br>

    <button [disabled]="loginform.invalid">Login</button>
  </form> -->
<!-- <app-calender></app-calender> -->
<app-calender></app-calender>